<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
        body {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            margin-top: 0; /* Remove space at the top */
        }
        .navbar {
            background-color: #e9ecef;
            padding: 10px;
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
        }

        .navbar h2 {
            margin: 0;
            color: #343a40;
        }
        p{
            font-size: x-large;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <h2>URL Shortener</h2>
    </div>
    <p>Not a Valid URL</p>
<br>
<a href="/url">Go Back !!!</a>
</body>

</html>
